<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Aplikasi daftar belanja</h2>
        <h1 class="title">LISTS</h1>
        <p class="description">
          LIST dapat membuat dan mengatur daftar pembelanjaan Anda dengan mudah.
          <br>
          Tambahkan barang yang Anda inginkan kapanpun, dimanapun.
        </p>
        <a class="index-button" href="/index" >Lihat daftar</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>